.footer-container {
    font-family: 'Inconsolata', monospace;
    z-index: 2;
    text-align: center;
    padding: 5px;
    color: white;
}

.link-section {
    margin: 10px;
}

a {
    color: white;
    margin-left: 8px;
    text-align: center;
}