.article-header {
    font-family: 'Inconsolata', monospace;

    .article-banner-large {
        max-height: 300px;
        margin-top: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
        border-radius: 8px;
    }

    .article-banner-small {
        max-height: 200px;
        margin-top: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
        border-radius: 8px;
    }

    .article-title {
        font-family: 'Merriweather', serif;
    }
}

.article-divider {
    margin-top: 20px;
    margin-bottom: px;
}