<div class="article-header">
    <h1 class="article-title">
        {{content.title}}
    </h1>

    <p class="article-subtitle">
        {{content.summary}}
    </p>

    <div class="article-dates">
        <span>{{content.date | date}}</span>
    </div>

    <img *ngIf="content.image" [ngClass.lt-md]="'article-banner-small'" [ngClass.gt-sm]="'article-banner-large'" src="{{content.image}}">

    <app-image-attribute [attributeUrl]="content.imageAttributeUrl" [attributeName]="content.imageAttributeName"></app-image-attribute>
</div>

<mat-divider class="article-divider"></mat-divider>

<app-content-display class="article-content" [contentPath]="content.location">
</app-content-display>