<div class="article-header">
    <h1 class="article-title">
        {{articleContent.title}}
    </h1>

    <p class="article-subtitle">
        {{articleContent.summary}}
    </p>

    <div class="article-dates">
        <span *ngIf="articleContent.publishedDate">Published: {{articleContent.publishedDate | date}}</span>
        <span *ngIf="articleContent.updatedDate">. Updated: {{articleContent.publishedDate | date}}</span>
    </div>

    <img *ngIf="articleContent.imageUrl" [ngClass.lt-md]="'article-banner-small'" [ngClass.gt-sm]="'article-banner-large'" src="{{articleContent.imageUrl}}">
</div>

<mat-divider class="article-divider"></mat-divider>

<app-content-display class="article-content" [contentData]="this.articleContent.data">
</app-content-display>