<div class="article-header">
    <h1 class="article-title">
        {{post.title}}
    </h1>

    <p class="article-subtitle">
        {{post.summary}}
    </p>

    <div class="article-dates">
        <span>{{post.date | date}}</span>
    </div>

    <img *ngIf="post.image" [ngClass.lt-md]="'article-banner-small'" [ngClass.gt-sm]="'article-banner-large'" src="{{post.image}}">
</div>

<mat-divider class="article-divider"></mat-divider>

<app-content-display class="article-content" [contentPath]="postLocation">
</app-content-display>