.article-header {
    margin-left: 8%;
    margin-right: 8%;

    font-family: 'Inconsolata', monospace;

    .article-title {
        font-family: 'Merriweather', serif;
    }

    .article-subtitle {
        font-style: italic;
    }
}

.article-divider {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 4%;
}