.article-header {
    margin-left: 8%;
    margin-right: 8%;

    font-family: 'Inconsolata', monospace;

    .article-banner {
        max-height: 300px;
        margin-top: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
        border-radius: 8px;
    }

    .article-title {
        font-family: 'Merriweather', serif;
    }

    .article-subtitle {
        font-style: italic;
    }
}

.article-divider {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 4%;
}