.article-header {
    font-family: 'Inconsolata', monospace;

    .article-title {
        font-family: 'Merriweather', serif;
    }
}

.article-divider {
    margin-top: 20px;
    margin-bottom: 10px;
}