mat-toolbar {
    display: flex;
    justify-content: space-between;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.page-title {
    font-family: 'Inconsolata', monospace;
    font-size: 200%;
    font-style: oblique;
}

.dropdown-menu {
    font-family: 'Inconsolata', monospace;
    font-size: 150%;
}

.dropdown-button {
    font-size: 200%;
}

.dropdown-option {
    font-family: 'Inconsolata', monospace;
    font-size: large;
}