<h2 class="medium-header">Recent Posts</h2>

<div class="overviews-grid">
    <div *ngFor="let overview of articleOverviews">
        <mat-card matRipple class="overview-card mat-elvation-z20" routerLink="/article/{{overview.id}}">
            <mat-card-header>
                <mat-card-title>
                    <h3 class="overview-title">
                        {{overview.title}}
                    </h3>
                </mat-card-title>
                <mat-card-subtitle>{{overview.publishedDate | date}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
</div>