@import "../../theme.scss";

.content {
    font-family: 'Inconsolata', monospace;

    h1, h2, h3, h4, h5 {
        font-family: 'Merriweather', serif;
    }

    a {
        color: $accent;
        text-decoration: none;
    }

    .toolbar {
        button {
            cursor: pointer;
        }
    }
}